body {
  background-color: #f5f5f5;
}
.wrapper {
  max-width: 700px;
  margin: 0 auto;
}
.page-title {
  text-align: center;
  margin-bottom: 30px;
}
.card-body {
  padding: 0.8rem;
}
.input-todo {
  font-size: 1.5rem;
}
.form-check {
  height: 38px;
  display: flex;
  align-items: center;
}
.todo-buttons {
  display: none;
}
.todo:hover .todo-buttons {
  display: flex;
}
.btn-edit {
  margin-right: 5px;
}
.function-bar {
  margin-bottom: 20px;
}
.todo-counter {
  padding: 5px 0;
}
.filter {
  border: 2px solid transparent;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #000000;
}
.filter:hover {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #eab317;
  text-decoration: none;
  color: #000000;
}
.filter.selected {
  border-radius: 5px;
  border: 2px solid #eab317;
  text-decoration: none;
  color: #000000;
}
.clear-all {
  padding: 5px 0;
}
.btn-clear-all {
  text-decoration: none;
  color: #000000;
}
.btn-clear-all:hover {
  cursor: pointer;
  text-decoration: none;
  color: #eab317;
}
.input-edit-todo {
  height: 63.59px;
}
.todo-content {
  font-size: 1.5rem;
}
.finished .todo-content {
  color: rgb(199, 197, 197);
  text-decoration: line-through;
}
.todo.hide {
  display: none;
}
